<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploader</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script src="/index.js" defer></script>
</head>

<body>
  <div class="create-folder--wrapper">
    <form method="post" action="/add-folder" class="create-folder">
      <div class="create-folder--title">Create a new folder</div>
      <div class="create-folder--folder-name">
        <label for="folder-name" class="create-folder--folder-name--label">Folder name</label>
        <input name="newFolderName" placeholder="Folder name" type="text" class="create-folder--folder-name--input" id="folder-name">
      </div>
      <button type="submit" class="create-folder--submit">Create a folder</button>
      <button type="button" class="create-folder__close-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>close</title>
          <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </button>
    </form>
  </div>

  <div class="app">
    <header class="header">
      <h1 class="header__logo">File Uploader</h1>
      <div class="header__user--info">
        <div class="header__user--name">Username</div>
        <a href="/log-out" class="header__user--logout">Log Out</a>
      </div>
    </header>
    <main class="main">
      <div class="main__actions">
        <button class="main__actions--add-folder">Add folder</button>
      </div>
      <div class="storage">
        <div class="storage__columns">
          <div class="storage__column">Name</div>
          <div class="storage__column">Size</div>
          <div class="storage__column">Type</div>
          <div class="storage__column">Actions</div>
        </div>
        <div class="storage__folders">
          <% folders.forEach((folder) => { %>
          <div class="storage__folder">
            <div class="storage__folder--info">
              <div class="storage__folder--icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>folder</title>
                  <path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
                </svg>
              </div>
              <a href="/folders/<%= folder.name %>" class="storage__folder--name"><%= folder.name %></a>
            </div>
            <div class="storage__folder--size">50 GB</div>
            <div class="storage__folder--type">Folder</div>
            <div class="storage__folder--actions">
              <button class="storage__folder--actions-info">Info</button>
              <button class="storage__folder--actions-edit">Edit</button>
              <button class="storage__folder--actions-delete">Delete</button>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
  </div>
</body>

</html>