<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="login">
    <h1 class="login__file-uploader--title">File Uploader</h1>
    <form action="/login" method="post" class="login__form">
      <div class="login__title">Login</div>
      <div class="login__username">
        <label for="username" class="login__username--label">Username</label>
        <input name="username" id="username" type="text" class="login__username--input">
      </div>
      <div class="login__password">
        <label for="password" class="login__password--label">Password</label>
        <input name="password" id="password" type="text" class="login__password--input">
      </div>
      <button type="submit" class="login__submit">Log In</button>
      <a href="/sign-up" class="login__create-account-link">Create an account</a>
    </form>
  </div>
</body>

</html>